
div {
  display: block;
  height: 100%;
  position: relative;
}

/* Add some basic styling for the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: goldenrod;
    text-align: center;
    }

ul li {
    display: inline-block;
    text-align: center;
    }

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

ul li a:hover {
    background-color: #ddd;
    color: black;
}

ul li img {
    height: 100px;
    width: 100px;
}

/* style attribute for all body element */
body {
    background-color: #F0E68C;
    width: 100%;
    margin: auto;
    font-family: 'Hedvig Letters Serif', serif;
}

/* style attribute for all form element */
form {
    width: 70%;
    background-color: lavenderblush;
    padding: 10px;
    border-style: solid;
    border: black;
    border-width:1px;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}

